.header {
    padding: 16px 32px 0;
    background: rgb(246, 248, 250);
    box-shadow: inset 0 -1px 0 hsla(210, 18%, 87%, 1);
}
  
.topSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name {
    font-size: 20px;
    color: #0969da;
}

.bold {
    font-weight: 800;
}

.buttonContainer {
    display: flex;
    align-items: center;
}

.circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(27,31,36,0.08);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 3px;
}