.filterLists {
  display: flex;
  align-items: center;
}

.filterLists > div > span {
  padding: 0 16px;
  line-height: 21px;
  cursor: pointer;
  color: #57606a;
}

.filterLists > div > span:hover {
  color: #000000;
}

.filterItem {
  position: relative;
}

.modalContainer {
  top: 20px;
  left: 20px;
  position: absolute;
}