.tabList {
    display: flex;
}

.tab {
    display: flex;
    border: none;
    background: transparent;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
    margin-right: 10px;
}

.selected {
    border-bottom: #fa4549 2px solid;
    font-weight: 800;
}


.circle {   
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(27,31,36,0.08);
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 3px;
}

.link {
    text-decoration: none;
}